.productbox{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    }
.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}

#tile1{
    background: rgb(255,255,255);
}

#tile2{
    background: rgb(255,255,255);
}

#tile3{
    background: rgb(255,255,255);
}

#tile4{
/*     background-image: url('http://handsontek.net/demoimages/tiles/facebook.png'); */
/*     background-size: cover; */
	background: rgb(255,255,255);
}

#tile5{
    background: rgb(255,255,255);
}

#tile6{
    background: rgb(255,255,255);
}

#tile7{
    background: rgb(255,255,255);
}

#tile8{
    background: rgb(255,255,255);
}

#tile9{
    background: rgb(255,255,255);
}

#tile10{
/*     background: rgb(255,255,255); */
/* 	background-image: url(images/sport_news2.png);  */

}

.tilecaption{
    position: relative;
/*     top: 50%; */
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:26% 0!important;
    text-align: center;
    line-height: 100%;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}

