
           .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid #eee;
/*         transition: all 0.2s ease-in-out; */
        width: 120px;
        height:120px;
     
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);  
        -webkit-transform:rotate(360deg);  
        /*-webkit-font-smoothing:antialiased;*/
    }

.profile-btn {
	margin: 0px 2px;
	float: right;
}

.profile-heading {
	margin-top: 0;
	margin-bottom: 5px;
}

#file{
	float: left; 
	width: 250px"
}

#btnCrop, #btnZoomOut, #btnZoomIn{
	float: right;
	margin: 0px 1px;
}








