.glyphicon {
	margin-right: 5px;
}

.thumbnail {
	margin-bottom: 20px;
	margin-left:1%;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.products_one_div{
	margin-right: 5%;
}
.thumbnail:hover {
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #3333ff;
}

.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover
	{
	background: #428bca;
}

.item.list-group-item .list-group-image {
	margin-right: 10px;
}
.item.list-group-item .thumbnail {
	margin-bottom: 0px;
}

.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
	background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item img {
	float: left;
	height: 250px
}

.item.list-group-item:after {
	clear: both;
}

.list-group-item-text {
	margin: 0 0 11px;
}

.pagination>li>a, .pagination>li>span {
	border-radius: 50% !important;
	margin: 0 5px;
}

aside {
	background-color: #888888;
}

.productsclass {
	background-color: #f5f5f5;
}

.shopping_car_div{
	position: fixed;
	right: 2%;
	top: 35%;	
}
.shopping_car {
	opacity: 0.6;
}

.shopping_car:hover {	
	opacity: 1;
}
.shopping_car_span{
	position: absolute;
    right: 15%;
    top: 15%;
    font-size: x-large;
    background-color: red;
}

/* .shopimage{ */
/* 	height: 250px !important; */
/* } */