/*
Credits:
https://github.com/marcaube/bootstrap-magnify
*/
.ProductDetail{
	margin-top: 10%;
}
.mag {
    width:400px;
    margin: 0 auto;
    float: none;
}
    
.mag img {
    max-width: 100%;
}
        
.magnify {
    position: relative;
    cursor: none
}

.magnify-large {
    position: absolute;
    display: none;
    width: 350px;
    height: 350px;

    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
             border-radius: 100%
}


/* 偷來的購物車 */
.shopping_car {
	opacity: 0.6;
}

.shopping_car:hover {	
	opacity: 1;
}
.shopping_car_span{
	position: absolute;
    right: 15%;
    top: 15%;
    font-size: x-large;
    background-color: red;
}
.shopping_car_div{
	position: fixed;
	right: 2%;
	top: 35%;	
}

/*新增*/
.main {
width: 700px;
margin: 50px auto;
padding: 0 20px;
padding-bottom: 40px;
font-family: 'Calibri', 'CalibriRegular', Verdana, Arial, Helvetica, sans-serif;
}
.gallery {
}
.gallery .previews, .gallery .full, .gallery .desc {
float: left;
margin-right: 20px;
}
.gallery .desc, .gallery .full {
width: 400px;
font-size: 12px;
}
.gallery .desc h2 {
margin-top: 0;
}
.gallery .previews a {
display: block;
margin-bottom: 5px;
}

/* 調整大圖尺寸 */
.gallery .full, .gallery .full img {
width: 492px;
height: 520px;
}
.gallery .previews a, .gallery .full {
border: 4px solid #CCC;
}
.gallery .previews a:hover, .gallery .previews a.selected {
border: 4px solid #3333ff;
}
.gallery .full img:hover {
cursor: pointer;
}
.clearfix:after {
content: ".";
visibility: hidden;
display: block;
height: 0;
clear: both;
}

/* 調整小圖尺寸 */
.small{
width:100px;
height:92px;
}